body {
    font-size: 75%;
    text-wrap: pretty;
    margin: 10px 10px 0px 10px;
}

em {
    font-size: 100%;
    color: gray;
}

div {
    height: auto;
}

div#header-content {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    width: -webkit-fill-available;
    padding-right: 0.5em;
}

div#body-content {
    border: thin solid gray;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 400px;
}

div#footer-content 
{
    padding-top: 10px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: -webkit-fill-available;
}

p {
    white-space: pre-wrap;
}

a {
    color: #039;
    text-decoration: none;
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

img {
    padding-left: 10px;
    height: 16px;
    width: 16px;
}
